/**app.wxss**/

/* 导入font-icon 方便全局使用 */
@import './styles/iconfont.scss';

/* 清除默认样式 不支持通配符 */
page,
view,
swiper,
swiper-item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*基础样式*/
page {
  /* 定义主题颜色 */
  --themeColor: #ff3f78;
  /* 字体大小 */
  font-size: 28rpx;
}
iamge {
  width: 100%;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  &::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    opacity: 0;
    clear: both;
  }
}
