/* pages/collect/collect.wxss */
.tag {
  display: flex;
  padding: 20rpx 30rpx;
  background-color: #ebebeb;
  view {
    font-size: 32rpx;
    padding: 0 10rpx;
    height: 60rpx;
    line-height: 60rpx;
    border: 1px solid #666;
    margin-right: 30rpx;
  }
  view.active {
    color: #ff3f78;
    border: 1px solid #ff3f78;
  }
}
