/* pages/search/search.wxss */
page {
  background-color: #f0f0f0;
}
.search {
  display: flex;
  height: 60rpx;
  margin: 20rpx 30rpx;
  input {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    display: block;
    border-radius: 10rpx;
    background-color: #fff;
  }
  .btn {
    height: 100%;
    line-height: 60rpx;
    padding: 0 20rpx;
    margin-left: 30rpx;
    border: 1px solid #000;
    border-radius: 10rpx;
    background-color: #fff;
  }
}
