/* components/z-tab-bar/z-tab-bar.wxss */
.tab-bar-title {
  display: flex;
  text-align: center;
  .tab-bar-item {
    flex: 1;
    height: 88rpx;
    line-height: 88rpx;
    letter-spacing: 0.1em;
  }
  .active text {
    color: var(--themeColor);
    padding: 10rpx 20rpx 20rpx;
    border-bottom: 2px solid var(--themeColor);
  }
}
