/* components/z-cart-item/z-cart-item.wxss */
.cart-item {
  padding: 20rpx;
  border-bottom: 1px solid rgb(219, 219, 219);
  display: flex;
  .image {
    flex: 4;
    padding: 0 20rpx;
    image {
      width: 100%;
    }
  }
  .info {
    flex: 7;
  }
}
.info {
  .text {
    font-size: 32rpx;
    line-height: 40rpx;
    height: 80rpx;
    margin: 40rpx 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .price-wrap {
    font-size: 36rpx;
    display: flex;
    justify-content: space-between;
    .price {
      color: var(--themeColor);
      overflow: hidden;
    }
  }
}
